.containerPrincipal {
    background-color: #FFFFFF;
    width: 78%;
    height: 100%;
    gap: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonAddTarea {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.buttonAddTarea button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 6vh;
    color: white;
    background-color: rgb(49, 49, 204);
    border: none;
    border-radius: 0.4rem
}

.containerPrincipalTareas {
    width: 90%;
    height: 100%
}

.containerTareas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
